html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  height: 100%;
  margin: 10px;
  background-image: url("background.png");
  background-repeat: repeat;
}

.body {
  color: #531BDB;
  height: 600px;
  font-family: Helvetica Neue;
  font-weight: bold;
  width: 940px;
}

.whoami {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.whoamiItem.image {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 475px;
}

.whoamiItem.descriptionWrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 200px;
  max-width: 500px;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
}

p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mushroomImage {
  background-image: url('mushroom_gif.gif');
  max-width: 375px;
  max-height: 500px;
  background-size: cover;
  background-position: top;
  margin-bottom: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  min-width: 200px;
  min-height: 300px
}

.crop {
    max-width: 375px;
    max-height: 350px;
    overflow: hidden;
}


.line {
  border-bottom: 2px solid #F553AD;
  width: 100%;
}

.headerWrapper {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerItem {
  display: inline;
  margin-left: 10px;
}

a {
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: #EB5609;
  text-decoration: none;
}

a:hover {
  color: #F553AD;
}

td {
  padding-bottom: 5px;
}

table .label {
  text-align: left;
  vertical-align: top;
}
table .info {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
}

table {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px;
  margin-bottom: 34px;
}

.title {
  font-size: 48px;
  margin-right: 35px;
}

.section {
  font-size: 32px;
  margin-right: 35px;
}

.description {
  max-width: 500px;
  min-width: 200px;
  font-size: 24px;
  line-height: 1.5;
  margin-top: -34px;
}

.contact {
  /*
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
}

.contactItem {
  margin-left: 10px;

}

.contactItem svg {
  color: #EB5609;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.contactItem svg:hover {
  color: #F553AD;
}

.contact p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.caps {
  font-variant: small-caps;
}

.attributions {
  text-align: center;
  margin-top: 5px;
}

#footer {
  height: 170px;
}

#publications {
  list-style-type: none; /* Remove bullets */
  padding-left: 10px;
  margin-bottom: 39px;
}

#publications li {
  padding-bottom: 5px;
}

.me {
  color: #F553AD;
}

.secret {
  text-decoration: underline;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}

#audio-player-container {
  width: 315px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

#audio-player {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    width: 95%;
    height: 132px;
    background: #fff;
}
#audio-player::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #F553AD, #EB5609);
    z-index: -2;
}

#play-icon {
    margin: 20px 2.5% 10px 2.5%;
}

path {
    stroke: #007db5;
}
.time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
    width: var(--volume-before-width);
}
#mute-icon {
    margin: 0 2.5%;
}
input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}

#audio-player-marquee {
  position: absolute;
  top: -18px;
  right: 5%;
  padding: 3px;
  background: linear-gradient(to left, #F553AD, #531BDB);
  margin: 0;
}

#audio-player-text {
  margin: 0;
  padding: 0 5px;
  font-size: 28px;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  width: 175px;
}

#audio-player-text span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
