html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
}

.body {
  color: #EC6A43;
  height: 600px;
  font-family: Helvetica Neue;
  font-weight: bold;
  width: 940px;
}

.whoami {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.whoamiItem.image {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 475px;
}

.whoamiItem.descriptionWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
  max-width: 500px;
  flex-basis: 350px;
}

p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.pickleImage {
  background-image: url('pickle.jpg');
  max-width: 375px;
  max-height: 375px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  flex-grow: 2;
  flex-shrink: 0.5;
  flex-basis: 200px;
  min-width: 200px;
  min-height: 200px
}

.crop {
    max-width: 375px;
    max-height: 350px;
    overflow: hidden;
}

.pickle {
  max-width: 475px;
  margin-left: -55px;
  margin-top: -7px;
}

.line {
  border-bottom: 2px solid #C33C68;
  width: 100%;
}

.headerWrapper {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.headerItem {
  display: inline;
  margin-left: 10px;
}

a {
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: #F1A34C;
  text-decoration: none;
}

a:hover {
  color: #C33C68;
}

.title {
  font-size: 48px;
  margin-right: 35px;
}

.section {
  font-size: 32px;
  margin-right: 35px;
}

.description {
  max-width: 500px;
  min-width: 200px;
  font-size: 24px;
  line-height: 1.5;
  margin-top: -34px;
}

.contact {
  /*
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
  */
  display: flex;
  justify-content: flex-end;
	align-items: flex-end;
  flex-direction: row;
  font-size: 24px;
}

.contactItem {
  margin-left: 10px;

}

.contactItem svg {
  color: #F1A34C;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.contactItem svg:hover {
  color: #C33C68;
}

.contact p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.caps {
  font-variant: small-caps;
}
